<form (ngSubmit)="guardarItem($event)">
  <section class="container-buscador">
    <section #body class="container-form">
      <div class="form">
        <span class="form-text">Código de barra</span>
        <input id="codPaquete" type="text" [formControl]="codPaquete" appNumbersOnly pInputText autofocus />
        <div class="validation" *ngIf="codPaquete?.touched">
          <small *ngIf="!codPaquete.value && codPaquete.invalid" class="p-error">Campo es obligatorio</small>
        </div>
      </div>
      <div class="form">
        <span class="form-text">N° de productos añadidos</span>
        {{cantidad}}
      </div>
    </section>
  </section>
  <br>
  <section class="contain-button">
    <button pButton pRipple label="Volver" icon="pi pi-arrow-left" iconPos="left" type="button"
      [class]="'p-button-outlined'" (click)="regresar()"></button>
    <button pButton label="Guardar" icon="pi pi-save" iconPos="right" type="submit"
      [disabled]="codPaquete.invalid"></button>
    <button pButton label="Partir" icon="pi pi-clone" iconPos="right" type="button" (click)="partirItem()"></button>
  </section>
</form>
