<section *ngIf="!isScreenMobile && isMostrarTabla">
  <h3>Búsqueda</h3>
  <p-table #table1 [columns]="cols" [value]="items" [(selection)]="seleccionado" [rows]="10"
    [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading" [paginator]="true"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} elementos">
    <ng-template pTemplate="caption">
      <div class="flex">
        <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="table1.filterGlobal($event.target.value, 'contains')"
            placeholder="Buscar" />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{col.header}}
        </th>
        <th>Opciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          {{rowData[col.field] | formatField:col.field }}
        </td>


        <td>
          <section class="options">
            <button pButton pRipple label="Modificar" icon="pi pi-pencil" iconPos="right" type="button"
              [class]="'p-button-outlined'" (click)="modificarItem(rowData)"></button>
            <button pButton pRipple label="Eliminar" icon="pi pi-trash" iconPos="right" type="button"
              [class]="'p-button-outlined'" (click)="eliminarItem(rowData)"></button>
            <button pButton pRipple label="Imprimir" icon="pi pi-print" iconPos="right" type="button"
              [class]="'p-button-outlined'" (click)="imprimirItem(rowData)"></button>
            <button pButton pRipple label="Detalle" icon="pi pi-eye" iconPos="right" type="button"
              [class]="'p-button-outlined'" (click)="detalleItem(rowData)"></button>
          </section>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8">No se ha encontrado bolsas generadas con los filtros.</td>
      </tr>
    </ng-template>
  </p-table>

</section>

<section *ngIf="isScreenMobile && isMostrarTabla">
  <h3>Búsqueda</h3>
  <p-dataView #dv1 [value]="items" [paginator]="true" [rows]="10" scrollHeight="calc(60vh - 200px)"
    filterBy="observaciones,des_Tip_Mov,fec_Creacion,co_CodOrdPro,id_Pre_Desp"
    [rows]="9" layout="grid">
    <ng-template pTemplate="header">
      <span class="p-input-icon-left mb-2 md:mb-0">
        <i class="pi pi-search"></i>
        <input type="search" pInputText placeholder="Buscar" (input)="dv1.filter($event.target.value)">
      </span>
    </ng-template>
    <ng-template let-item pTemplate="gridItem">
      <app-generar-bolsa-item [item]="item" (modificar)="modificarItem(item)" (eliminar)="eliminarItem(item)"
        (imprimir)="imprimirItem(item)" (detalle)="detalleItem(item)"></app-generar-bolsa-item>
    </ng-template>
  </p-dataView>
</section>
