<form (ngSubmit)="guardarPartir()" [formGroup]="form">
  <p-dialog header="Partir producto" [(visible)]="isOpenModal" [modal]="true" [style]="{ width: 'min-content' }"
    [draggable]="false" [resizable]="false" (onHide)="closeModal()" [dismissableMask]="true">
    <section class="container-modal">
      <section class="container-form">
        <div class="form">
          <span class="form-text">Código de Paquete</span>
          <input id="codPaquete" type="text" formControlName="codPaquete" (keydown.enter)="consultar()" pInputText autofocus />
          <div class="validation" *ngIf="codPaquete?.touched">
            <div style="right: 0;"><small *ngIf="codPaquete.value" class="p-text-secondary">Presione enter</small></div>
            <small *ngIf="!codPaquete.value && codPaquete.invalid" class="p-error">Campo es obligatorio</small>
          </div>
        </div>

        <div class="form-group">
          <div class="form">
            <span class="form-text">Cantidad Actual</span>
            <input id="cantActual" type="text" formControlName="cantActual" pInputText readonly />
          </div>

          <div class="form">
            <span class="form-text">UM</span>
            <input id="um" type="text" formControlName="um" pInputText readonly />
          </div>
        </div>

        <div class="form-group">
          <div class="form">
            <span class="form-text">Cantidad por Paquete</span>
            <p-inputNumber inputId="cantPorPaqueteInput" #cantPorPaqueteInput formControlName="cantPorPaquete" inputId="minmax" inputId="minmax"
              mode="decimal" [min]="1" [max]="100">
            </p-inputNumber>
            <div class="validation" *ngIf="cantPorPaquete?.touched">
              <small *ngIf="!cantPorPaquete.value && cantPorPaquete.invalid" class="p-error">Campo es
                obligatorio</small>
            </div>
          </div>

          <div class="form">
            <span class="form-text">Paquetes a generar</span>
            <p-inputNumber id="cantAGenerar" formControlName="cantAGenerar" inputId="minmax" inputId="minmax"
              mode="decimal" [min]="1" [max]="100"></p-inputNumber>
            <div class="validation" *ngIf="cantAGenerar?.touched">
              <small *ngIf="!cantAGenerar.value && cantAGenerar.invalid" class="p-error">Campo es obligatorio</small>
            </div>
          </div>
        </div>

        <div class="form">
          <span class="form-text">Impresora</span>
          <p-dropdown [options]="impresoras" [filter]="true" filterBy="nomImpresora" optionLabel="nomImpresora"
            placeholder="Seleccione" formControlName="impresora" appendTo="body">
          </p-dropdown>
          <div class="validation" *ngIf="impresora?.touched">
            <small *ngIf="!impresora.value" class="p-error">Campo es obligatorio</small>
          </div>
        </div>
      </section>
    </section>

    <ng-template pTemplate="footer">
      <button pButton pRipple label="Salir" icon="pi pi-times" iconPos="left" type="button"
        [class]="'p-button-outlined'" (click)="closeModal()"></button>
      <button pButton label="Aceptar" icon="pi pi-check" iconPos="right" type="submit"
        [disabled]="form.invalid"></button>
    </ng-template>
  </p-dialog>
</form>
