$topbarLeftBg:#911628;
$topbarRightBg:#911628;
$topbarTextColor:#ffffff;
$menuBg:#ffffff;
$menuitemHoverBgColor:transparent;
$menuitemHoverTextColor:#911628;
$menuitemActiveColor: #911628;
$menuitemActiveBgColor:transparent;
$menuButtonBgColor:#ffffff;
$menuButtonColor:#911628;
$badgeBgColor:#198754;
$badgeColor:#ffffff;
$darkMenuBg:#2a323d;
$darkMenuHoverBgColor:transparent;
$darkMenuHoverTextColor:#974551;
$darkMenuRootMenuitemColor: rgba(255, 255, 255, 0.65);
$darkMenuMenuitemColor:#ffffff;
$darkMenuMenuitemActiveColor:#974551;
$darkMenuMenuitemActiveBgColor:transparent;

@import '../../sass/layout/_layout';
